<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rawe.gordon.com.fruitmarketclient">

    <application
        android:name="rawe.gordon.com.business.application.NinePlusApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.NavigationActivity"
            android:label="@string/app_name"
            android:theme="@style/noAnimationTheme" />
        <activity
            android:name=".activities.LauncherActivity"
            android:label="@string/launcher_activity"
            android:theme="@style/noAnimationTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.CartActivity"
            android:label="@string/cart_orders"
            android:theme="@style/noAnimationTheme" />
        <activity
            android:name=".activities.CommodityDetailActivity"
            android:label="@string/sc"
            android:theme="@style/noAnimationTheme" />
        <activity
            android:name=".activities.UserProfileActivity"
            android:label="@string/sc"
            android:theme="@style/noAnimationTheme" />
        <activity
            android:name=".activities.PaymentActivity"
            android:label="@string/sc"
            android:theme="@style/noAnimationTheme" />
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/sc"
            android:theme="@style/noAnimationTheme" />
        <activity
            android:name=".activities.SearchActivity"
            android:label="@string/sc"
            android:theme="@style/noAnimationTheme" />
        <activity
            android:name=".activities.RegisterActivity"
            android:label="@string/sc"
            android:theme="@style/noAnimationTheme" />
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/sc"
            android:theme="@style/noAnimationTheme" />
        <activity
            android:name=".activities.PostComposeActivity"
            android:label="@string/sc"
            android:screenOrientation="portrait"
            android:theme="@style/noAnimationTheme" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

</manifest>